html, body {
  height: 100%;
  margin: 0;
}
.container {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.container > div {
  display: flex;
  flex-basis: calc(50% - 10px);
  flex-direction: column;
}
.container > div > div {
  display: flex;
  flex-direction: row;
}


.box {
margin: 1px;
border: 1px solid green;
}

.bucket1{
  flex-basis: calc(20% - 10px);
}
.bucket2{
  flex-basis: calc(100% - 10px);
}

.name{
  flex-basis: calc(60% - 10px);
}
.icon{
  flex-basis: calc(20% - 10px);
}
.search{
  flex-basis: calc(40% - 10px);
}


.window2.bucket2{
  flex-direction: column;
}

.window3.bucket2, .window4.bucket2{
  flex-direction: column;
}
.window2.bucket1.name{
  flex-basis: calc(80%);
}

.window2.bucket1.search{
  flex-basis: calc(40%);
}

.window3.bucket1.name{
  flex-basis: calc(80%);
}

.window3.bucket1.icon{
  flex-basis: calc(20%);
}

.window4.bucket1.name{
  flex-basis: calc(100%);
}
