<template>
  <div class="row">
    <div class="component9">
      <table class="table table-striped">
          <tr class="linebottom" style="background-color:#1ab39f40">
            <th>Device</th>
            <th>Hostname</th>
            <th>Source</th>
            <th>Last transaction</th>
            <th>future</th>
          </tr>
          <tr>
            <th>10.3.4.5</th>
            <th>FW01DC019</th>
            <th>Splunk-2</th>
            <th>2019/21/04:14:55:12</th>
            <th></th>
          </tr>
          <tr>
            <th>10.189.4.5</th>
            <th>fw-jnpr-ofc-10</th>
            <th>Syslog-1</th>
            <th>2019/21/04:14:55:12</th>
            <th></th>
          </tr>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>

        </table>
    </div>

  </div>
</template>

<script>

</script>

<style scoped>
  .row.content {height:1200px}

  .sidenav {
    background-color: #424242;
    height: 100%;
  }
  h2{
    color:white;
  }
  .logged_header{
    text-align: right;
  }
  .nav{
    margin-top: 60px;
  }
  .nav-pills>li.active>a{
    background-color:#1AB39F;
  }
  a{
    color:white;
    font-size:18px;
    font-style:bold;
  }
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height: auto;}
  }
  .header{
    padding-left: 0px;
    padding-top:20px;
    padding-bottom:20px;
    margin: 0px;
  }
  .linebottom{
    border-bottom: 2px solid #bbb;
  }
  .line{
    border: 2px solid 	#bbb;
  }
  li{
    border: 1px solid #1AB39F;
    border-radius: 7px;
  }
  img{

    width: 100px;
    height: 90px;
  }

  th{
    padding-left:10px;
    padding-right:20px;
  }

  .table{
    width:70%;
  }

  .component6, .component7{
    height:150px;
    padding-left:50px;
    padding-top:3%;

  }
  .component8, .component9{
    text-align:left;
    margin-left:50px;
    margin-top: 8%;
  }
  .component8{
    height:40%;

  }
  .component9{
    height:40%;

  }
  .device1, .device2{
    height:90%;
    width:80%;
    text-align:center;
    padding-left:5px;
    padding-top: 8%;
  }
  .line{
    border: 2px solid #bbb;
  }

</style>
