<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="basicStyle.css">
  <style>

    p{
      font-size:12px;
    }
    th{
      padding-left:10px;
      padding-right:20px;
    }


    .FirstLine, .SecondLine, .ThirdLine{
      margin-top: 20px;
    }
    .component1, .component2, .component3{
      height:50%;
    }
    .component4{
      height:30%;
    }
    .component5{
      height:20%;
    }
    .system{
      width:90%;
      height:100%;
    }
    .panel-info{
      margin-left:20px;
      margin-right:5%;
      font-weight: bold;
      color:black;

    }
    .panel-info>.panel-heading{
      color:#424242;
      background-color:#1ab39f40;
      border-color:#1ab39f40;
      border-bottom: 2px solid #bbb;
    }
    .title{
      background-color:#d1dcfc;

    }
    .resources{
      width:80%;
      height:100%;
    }
    .storage{
      width:70%;
      height:100%;
    }
    .performance{
      margin-top:30px;
      width:91%;
      height:90%;
    }
    .events{
      margin-top:30px;
      width:91%;
      height:80%;
    }
    .table{
      margin-top:20%;
      margin-bottom:10%;
    }
    .sidecontainer{
      display:flex;
    }
    .logout{

    }
  </style>
</head>
<body>

<div class="container-fluid">
  <div class=" row content">
    <div class=" col-sm-2 sidenav">
      <img src="img/interactor.png" alt="" style="width:200px; height:80px; padding: 20px;">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="CSS_DashBoard.html">Dashboard</a></li>
        <li><a href="CSS_Devices.html">Devices</a></li>
        <li><a href="CSS_Interactions.html">Interactions</a></li>
        <li><a href="CSS_Administration.html">Administration</a></li>
      </ul><br>
      <div class="sidecontainer">
        <div class="logout">

        </div>
      </div>
    </div>

    <div class="col-sm-10" style="padding:0">

        <div class="linebottom row header">
          <div class=" col-md-4 search_header ">
            <div class="input-group"style="width:80%">
              <input type="text" class="form-control" placeholder="Search Dashboard">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" >
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
          </div>
          <div class=" col-md-4 license_header">
            <h5>License:<b>Trial, Expires 9/1/2019</b> </h5>
          </div>
          <div class=" col-md-4 logged_header">
            <h5>Logged in as:<b>admin</b></h5>
          </div>
        </div>
      <div class="row FirstLine">
        <div class="col-md-5 component1">
          <div class="panel panel-info system">
           <div class="panel-heading title">System</div>
           <div class="panel-body">
             <p>Hostname:Interactor</p>
             <p>IP:10.109.8.17</p>
             <p>Netmask:255.255.255.0</p>
             <p>Gateway:10.109.8.1</p>
             <p>Version:3.1.5r2</p>
             <p>Updated:Apr 10, 2019 4:52:10</p>
             <p>License:Trial, Expires 9/1/2019</p>
             <p>Uptime:105days</p>
             <p>Since:Mar 31, 2019</p>
             <p>Serial:Tr23450693</p>
           </div>
         </div>
        </div>
        <div class="col-md-3 component2">
          <div class="panel panel-info resources">
           <div class="panel-heading">Resources</div>
           <div class="panel-body">
              <table align="center">
                <tr>
                  <th>Nodes</th>
                  <th>1</th>
                </tr>
                <tr>
                  <th>CPU</th>
                  <th>1</th>
                </tr>
                <tr>
                  <th>RAM</th>
                  <th>16GB</th>
                </tr>
                <tr>
                  <th>Storage</th>
                  <th>5 TB</th>
                </tr>
                <tr>
                  <th>Disks</th>
                  <th>5</th>
                </tr>
                <tr>
                  <th>Alarms</th>
                  <th>None</th>
                </tr>
              </table>
           </div>
         </div>
        </div>
        <div class="col-md-4 component3">
          <div class="panel panel-info storage">
           <div class="panel-heading">Storage</div>
           <div class="panel-body">
             <table align="center">
               <tr style="border-bottom: 2px solid #ddd">
                 <th>Disk</th>
                 <th>Capacity</th>
                 <th>Status</th>
               </tr>
               <tr>
                 <th>Disk1</th>
                 <th>1Tb</th>
                 <th>Ok</th>
               </tr>
               <tr>
                 <th>Disk2</th>
                 <th>1Tb</th>
                 <th>Ok</th>
               </tr>
               <tr>
                 <th>Disk3</th>
                 <th>1Tb</th>
                 <th>Ok</th>
               </tr>
               <tr>
                 <th>Disk4</th>
                 <th>1Tb</th>
                 <th>Ok</th>
               </tr>
               <tr>
                 <th>Disk5</th>
                 <th>1Tb</th>
                 <th>Ok</th>
               </tr>
             </table>
           </div>
         </div>
        </div>

      </div>
      <div class="row SecondLine">
        <div class="col-md-12 component4">
          <div class="panel panel-info performance ">
           <div class="panel-heading">Performance Overview</div>
           <div class="panel-body">
             <div class="row">
               <div class="col-md-4">
                 <p>Unique Device: 5</p>
                 <p>Data source: 3</p>
               </div>
               <div class="col-md-4">
                 <img src="img/fakegraph.png" alt="" style="width:200px;height:200px">
               </div>
               <div class="col-md-4W">
                 <img src="IMG/fakegraph2.png" alt="" style="width:300px;height:240px">
               </div>
             </div>
           </div>
         </div>
        </div>
      </div>

      <div class="row ThirdLine">
        <div class=" col-md-12 component5">
          <div class="panel panel-info events ">
           <div class="panel-heading">System events</div>
           <div class="panel-body">
             <table>
                 <tr style="border-bottom: 2px solid #ddd">
                   <th>Time:</th>
                   <th>Event:</th>
                   <th>Severity</th>
                 </tr>
                 <tr>
                   <th>2019/21/04:14:55:12</th>
                   <th>Lost connection with Splunk source</th>
                   <th>High</th>
                 </tr>
                 <tr>
                   <th>2019/19/18:22:01:54</th>
                   <th>Transform failed</th>
                   <th>Medium</th>
                 </tr>
               </table>
           </div>
         </div>
        </div>
      </div>
    </div>

<!-- <footer class="container-fluid">
  <p>Footer Text</p>
</footer> -->

</body>
</html>
