<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="basicStyle.css">
  <style>


    .table{
      width:70%;
    }

    .Admin, .AdminInput{
      margin-top:30px;
      margin-left:50px;
      width:80%;
      height:50%;
    }
    .table{
      width:100%;
      margin-top:20px;
    }
    .admin{

      width: 100px;
      text-align:center;
      background-color:#1ab39f40;

    }
    table{
      margin-left:0px;
      margin-top:10px;

    }

    th{
      padding-left:10px;
      padding-right:20px;
      padding:10px;
    }
    input[type=button]{
      background-color: #1ab39f40;
      border: 2px bold #bbb;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
      align:center; width:100px;
    }


  </style>
</head>
<body>

<div class="container-fluid">
  <div class=" row content">
    <div class=" col-sm-2 sidenav">
      <img src="img/interactor.png" alt="" style="width:200px; height:80px; padding: 20px;">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="CSS_DashBoard.html">Dashboard</a></li>
        <li><a href="CSS_Devices.html">Devices</a></li>
        <li><a href="CSS_Interactions.html">Interactions</a></li>
        <li class="active"><a href="CSS_Administration.html">Administration</a></li>
      </ul><br>

    </div>

    <div class="col-sm-10" style="padding:0">

        <div class=" linebottom row header">
          <div class=" col-md-4 search_header ">
            <div class="input-group"style="width:80%">
              <input type="text" class="form-control" placeholder="Search Dashboard">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" >
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
          </div>
          <div class=" col-md-4 license_header">
            <h5>License:<b>Trial, Expires 9/1/2019</b> </h5>
          </div>
          <div class=" col-md-4 logged_header">
            <h5>Logged in as:<b>admin</b></h5>
          </div>
        </div>

        <div class="line row AdminInput">
          <table>
            <tr>
              <th>Hostname:</th>
              <th>
                <input type="text" placeholder="Interactor">
              </th>
            </tr>
            <tr>
              <th>IP:</th>
              <th>
                <input type="text" placeholder="10.109.8.17">
              </th>
            </tr>
            <tr>
              <th>Netmask:</th>
              <th>
                <input type="text" placeholder="255.255.255.0">
              </th>
            </tr>
            <tr>
              <th>Gateway:</th>
              <th>
                <input type="text" placeholder="10.109.8.1">
              </th>
            </tr>
            <tr>
              <th>DNS:</th>
              <th>
                <input type="text" placeholder="8.8.8.8">
              </th>
              <th>
                <input type="text" placeholder="4.2.2.2">
              </th>
            </tr>
            <tr>
              <th>NTP:</th>
              <th>
                <input type="text" placeholder="time.us.gov">
              </th>
              <th>
                <input type="text" placeholder="univ.ntp.pool">
              </th>

            </tr>
          </table>

          <div style="text-align:right;padding-right:10px;">
          <input type="button" name="save" value="Save">

          </div>

        </div>

        <div class=" row Admin">
          <div class="line admin">
            Add Admin
          </div>
          <table class="table table-striped">
              <tr class= "linebottom" style="background-color:#1ab39f40" >
                <th>Admin</th>
                <th>Type</th>
                <th>Auth type</th>
                <th>Account Status</th>
              </tr>
              <tr>
                <th>peter</th>
                <th>superuser</th>
                <th>local</th>
                <th>active</th>
              </tr>
              <tr>
                <th>david</th>
                <th>superuser</th>
                <th>local</th>
                <th>active</th>
              </tr>
              <tr>
                <th>jason</th>
                <th>superuser</th>
                <th>local</th>
                <th>active</th>
              </tr>
              <tr>
                <th>BK</th>
                <th>superuser</th>
                <th>local</th>
                <th>active</th>
              </tr>
            </table>
        </div>
    </div>

<!-- <footer class="container-fluid">
  <p>Footer Text</p>
</footer> -->

</body>
</html>
